:root {
    --margin: 0;
    --padding: 0;
    --hero-height: 60vh;
    --hero-bg: url('/Images/hero2.jpg');
    --prepare-bg-light: url('https://bungendorerfs.org/images/prepare.jpg');
    --info-bg-light: url('https://bungendorerfs.org/images/info.jpg');
    --membership-bg-light: url('https://bungendorerfs.org/images/membership.jpg');
    --events-bg-light: url('https://bungendorerfs.org/images/events.jpg');
    --rfs-core-red: #e5281B;
    --rfs-lime: #cbdb2a;
    --rfs-amber: #fbb034;
    --rfs-blue: #215e9e;
    --rfs-green: #008550;
    --rfs-logo: url('/Images/logo-dark.png');

}

@media (prefers-color-scheme: dark) {
    :root {
        --hero-bg: url('/Images/hero1.jpg');
        ;
        --prepare-bg: url('https://bungendorerfs.org/images/prepare-dark.jpg');
        --info-bg: url('https://bungendorerfs.org/images/info-dark.jpg');
        --membership-bg: url('https://bungendorerfs.org/images/membership-dark.jpg');
        --events-bg: url('https://bungendorerfs.org/images/events-dark.jpg');
        --rfs-logo: url('/Images/logo.png');
        --rfs-lime: #929e1b;
        --rfs-core-red: #b71c1c;
        --rfs-amber: #da992c;
        --rfs-blue: #17406c;
        --rfs-green: #01633c;
    }

    .hero .logo {
        background: var(--logo-dark) no-repeat center center/contain;
    }
}

.colorheading {
    color: whitesmoke;
}

h3 {
    color: whitesmoke;
}

.red {

    background-color: var(--rfs-core-red);
}

.amber {
    background-color: var(--rfs-amber);
}

.lime {
    background-color: var(--rfs-lime);
}

.blue {
    background-color: var(--rfs-blue);
}

.green {
    background-color: var(--rfs-green);
}

body {
    font-family: var(--font-family);
    margin: var(--margin);
    padding: var(--padding);
}

.hero {
    position: relative;
    height: var(--hero-height);
    background: var(--hero-bg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 500px) {
    .nav-logo {
        display: none !important;
    }

    .summary-card {
        display: none !important;
    }
}

@media (max-width: 770px) {
    .summaryCard {
        display: none !important;
    }
}

.nav-logo {
    height: 100%;
    max-height: 2em;
    /* Adjust this value to match the height of the heading */
    margin-right: 1em;
    /* Adjust spacing as needed */
    display: none;
}

.nav-logo.visible {
    display: block;
    /* Show the nav logo when it becomes visible */
}

.hero .logo {
    display: flex;
    margin-right: 1em;
    height: 6em;
    /* Adjust spacing as needed */
    background: var(--rfs-logo) no-repeat left/contain;

}

.hero h1 {
    display: inline-block;
    vertical-align: middle;
    padding-left: 1em;
    padding-right: 1em;
}

.prepare {
    background-image: var(--prepare-bg);
}

.info {
    background-image: var(--info-bg);
}

.membership {
    background-image: var(--membership-bg);
}

.events {
    background-image: var(--events-bg);
}

html {
    scroll-behavior: smooth;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: var(--pico-card-background-color) !important;
    color: var(--pico-card-text-color) !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
}

.leaflet-popup-content {
    color: var(--pico-card-text-color);
    margin: 0;
    background: var(--pico-card-background-color);
    padding: 1em;

    border-radius: 4px;

    font-family: var(--pico-font-family, Arial, sans-serif);
    /* Use a CSS variable for font family, fallback to Arial */
    font-size: var(--pico-font-size, 1rem);
    /* Use a CSS variable for font size, fallback to 1rem */
    line-height: var(--pico-line-height, 1.5);
    /* Use a CSS variable for line height, fallback to 1.5 */
}

.leaflet-marker-icon {
    all: unset;
    /* Reset all inherited styles */
    display: inline-block;
    /* Ensure it displays as an inline-block element */
    width: auto;
    /* Set width to auto */
    height: auto;
    /* Set height to auto */
    border: none;
    /* Remove any border */
    background: none;
    /* Remove any background */
    padding: 0;
    /* Remove any padding */
    margin: 0;
    /* Remove any margin */
    cursor: pointer;
    /* Ensure it has a pointer cursor */
}

.leaflet-control {
    all: unset;
    /* Reset all inherited styles */
    display: inline-block;
    /* Ensure it displays as an inline-block element */
    width: auto;
    /* Set width to auto */
    height: auto;
    /* Set height to auto */
    border: none;
    /* Remove any border */
    background: none;
    /* Remove any background */
    padding: 0;
    /* Remove any padding */
    margin: 0;
    /* Remove any margin */
    cursor: pointer;
    /* Ensure it has a pointer cursor */
}

#pageNav {
    margin: 0;
    padding: 0;

}

#pageNav nav {
    background-color: var(--rfs-core-red);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Ensure it stays on top */
    display: flex;
    justify-content: center;
}

main {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.content-container {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.heading-background {
    width: 100%;
    /* Extend to full width */
    background: var(--pico-card-background-color);
    /* 70% transparent background */
    opacity: 0.7;
    padding: 1em;
    /* Add some padding */
    box-sizing: border-box;
    /* Include padding in the element's total width and height */
    position: relative;
    /* Ensure it overlays the image */
}

#pageFoot {
    margin: 0;
    padding: 0;
}

#pageFoot nav {
    background-color: var(--pico-card-background-color);
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    /* Ensure it stays on top */
    display: flex;
    justify-content: center;
}