:root {
    --margin: 0;
    --padding: 0;
    --hero-height: 60vh;
    --hero-bg: url('/Images/hero2.jpg');
    --prepare-bg-light: url('https://bungendorerfs.org/images/prepare.jpg');
    --info-bg-light: url('https://bungendorerfs.org/images/info.jpg');
    --membership-bg-light: url('https://bungendorerfs.org/images/membership.jpg');
    --events-bg-light: url('https://bungendorerfs.org/images/events.jpg');
    --rfs-core-red: #e5281B;
    --rfs-lime: #cbdb2a;
    --rfs-amber: #fbb034;
    --rfs-blue: #215e9e;
    --rfs-green: #008550;
    --rfs-logo: url('/Images/logo-dark.png');
    --header-background: rgb(255, 255, 255, 0.7);
    --header-background-shade: rgb(231, 234, 240, 0.7);
}

@media (prefers-color-scheme: dark) {
    :root {
        --hero-bg: url('/Images/hero1.jpg');
        --prepare-bg: url('https://bungendorerfs.org/images/prepare-dark.jpg');
        --info-bg: url('https://bungendorerfs.org/images/info-dark.jpg');
        --membership-bg: url('https://bungendorerfs.org/images/membership-dark.jpg');
        --events-bg: url('https://bungendorerfs.org/images/events-dark.jpg');
        --rfs-logo: url('/Images/logo.png');
        --rfs-lime: #929e1b;
        --rfs-core-red: #b71c1c;
        --rfs-amber: #da992c;
        --rfs-blue: #17406c;
        --rfs-green: #01633c;
        --header-background: rgb(24, 28, 37, 0.7);
        --header-background-shade: rgba(15, 17, 23, 0.7);
    }

    .hero .logo {
        background: var(--logo-dark) no-repeat center center/contain;
    }
}

/* General Styles */
body {
    font-family: var(--font-family);
    margin: var(--margin);
    padding: var(--padding);
}

html {
    scroll-behavior: smooth;
}

.whiteText {
    color: whitesmoke;
}

article {
    scroll-margin-top: 80px; /* Adjust this value to match the height of your navbar */
}

/* Hero Section */
.hero {
    position: relative;
    height: var(--hero-height);
    background: var(--hero-bg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .logo {
    display: flex;
    margin-right: 1em;
    height: 6em;
    background: var(--rfs-logo) no-repeat left/contain;
}

.hero h1 {
    display: inline-block;
    vertical-align: middle;
    padding: 0 1em;
}

/* Background Images for Sections */
.prepare {
    background-image: var(--prepare-bg);
}

.info {
    background-image: var(--info-bg);
}

.membership {
    background-image: var(--membership-bg);
}

.events {
    background-image: var(--events-bg);
}

/* Color Classes */
.red {
    background-color: var(--rfs-core-red);
}

.amber {
    background-color: var(--rfs-amber);
}

.lime {
    background-color: var(--rfs-lime);
}

.blue {
    background-color: var(--rfs-blue);
}

.green {
    background-color: var(--rfs-green);
}

/* Leaflet Marker and Control Styles */
.leaflet-marker-icon,
.leaflet-control {
    all: unset;
    display: inline-block;
    width: auto;
    height: auto;
    cursor: pointer;
}

/* Navigation Styles */
#pageNav {
    margin: 0;
    padding: 0;
}

#pageNav nav {
    background-color: var(--rfs-core-red);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.nav-logo {
    height: 100%;
    max-height: 2em; /* Adjust this value to match the height of the heading */
    margin-right: 1em; /* Adjust spacing as needed */
    display: none;
}

.nav-logo.visible {
    display: block; /* Show the nav logo when it becomes visible */
}

/* Main Content Styles */
main {
    padding: 0 !important;
}

.content-container {
    padding: 1em;
}

.heading-background {
    width: 100%; /* Extend to full width */
    background-color: var(--header-background); /* 70% transparent background */
    padding: 1em;
    box-sizing: border-box;
    position: relative;
}

/* Footer Styles */
#pageFoot {
    margin: 0;
    padding: 0;
}

#pageFoot nav {
    background-color: var(--pico-card-background-color);
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

#pageFoot .container.grid {
    gap: 5px;
}

#pageFoot aside ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#pageFoot aside ul li {
    padding: 2px 0;
    margin: 0;
}

#pageFoot aside ul li button {
    padding: 5px 10px;
    margin: 0;
}

#pageFoot img {
    max-height: 40px;
}

/* Header and Button Container Styles */
.header-container {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.button-container {
    display: flex;
    gap: 10px;
}

.custom-button {
    padding: 10px 20px;
    background-color: var(--rfs-core-red);
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.custom-button:hover {
    background-color: darkred;
}

/* Event Styles */
.event {
    margin-bottom: 10px;
}

.event-title {
    font-weight: bold;
}

.event-date-time,
.event-location {
    font-size: 0.9em;
}

/* Element to Proof Styles */
.elementToProof {
    all: unset !important;
    display: block;
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--color);
}

/* Grid Container Styles */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

/* Social Icon Styles */
.social-icon {
    color: var(--rfs-core-red);
    position: relative;
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
}

/* Miscellaneous Styles */
.invisible-cell td {
    border: none;
    background-color: transparent;
}

#fireMessages {
    font-weight: bold;
    margin-bottom: 20px;
}

#incidentCountCell img,
#fireInfoTableContainer img {
    max-width: 32px;
    max-height: 32px;
    width: auto;
    height: auto;
}

.icon-category-cell,
#icon-category-cell {
    text-align: center;
    vertical-align: middle;
}

.icon-category-cell img,
#icon-category-cell img {
    display: block;
    margin: 0 auto;
}

.icon-category-cell span,
#icon-category-cell span {
    display: block;
    margin-top: 5px;
}

.calendar-widget {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

/* Responsive Styles */
@media (max-width: 1500px) {
    .summary-grid,
    .pageFoot {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for screens below 1500px */
    }
}

@media (max-width: 600px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .button-container {
        flex-wrap: wrap;
    }
}

@media (max-width: 500px) {
    .nav-logo,
    .summary-card {
        display: none !important;
    }
}

@media (max-width: 770px) {
    .summaryCard {
        display: none !important;
    }
}

/* Leaflet Popup Styles */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: var(--pico-card-background-color) !important;
    color: var(--pico-card-text-color) !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0;
}

.leaflet-popup-content p,
.leaflet-popup-content small {
    color: var(--pico-card-text-color);
    margin: 0 !important;
    background: var(--pico-card-background-color);
    font-family: var(--pico-font-family, Arial, sans-serif);
    border-radius: 10px;
    font-size: var(--pico-font-size, 1rem);
    line-height: var(--pico-line-height, 1.5);
}

/* Compact Feature Card Styles */
.feature-card.compact {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.5rem; /* Reduced padding */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Reduced shadow */
    margin-bottom: 0.5rem; /* Reduced margin */
}

.feature-card.compact header {
    align-items: center;
    margin-bottom: 0.5rem; /* Reduced margin */
    background-color: none !important;
}



.feature-card.compact h6 {
    margin-top: 5px;
    font-size: 0.9rem; /* Smaller font size */
    align-items: right;
}

.feature-card.compact .card-content {
    margin-bottom: 0.7rem; /* Reduced margin */
}

.feature-card.compact p {
    margin: 0.25rem 0; /* Reduced margin */
    font-size: 0.7rem; /* Smaller font size */
}

.feature-card.compact footer {
    margin-top: 0.5rem; /* Reduced margin */
    font-size: 0.7rem; /* Smaller font size */
    background-color: none !important;
}

.feature-card.compact .align-bottom {
    align-content: bottom;
}

/* Add faint dividing lines between each div */
.feature-card.compact > div {
    border-bottom: 1px solid #eee; /* Faint dividing line */
    padding-bottom: 0.5rem; /* Add padding to avoid text touching the border */
    margin-bottom: 0.5rem; /* Add margin to create space between divs */
}

.feature-card.compact > div:last-child {
    border-bottom: none; /* Remove the border from the last div */
    margin-bottom: 0; /* Remove the margin from the last div */
}

/* Three-column grid for councilArea, type, and size */
.three-column-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 0.5rem; /* Space between columns */
}

.three-column-grid p {
    margin: 0; /* Remove margin for grid items */
    font-size: 0.875rem; /* Smaller font size */
}

.compact-header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute space between items */
}

.compact-header p {
    margin: 0;
    font-size: 1rem; /* Smaller font size */
    text-align: right; /* Align text to the right */
    margin-left: auto; /* Push the element to the right */
    font-variant-caps: all-small-caps; /* Small caps text */
    font-weight: bold; /* Bold text */
}

#feature-card-header-span {
    display: inline-flex;
    align-items: center;
    font-size: 0.7rem; /* Smaller font size */
    font-variant-caps: all-petite-caps;
    font-weight: bold;
    background: var(--header-background-shade); /* Add background color */
    padding: 0.2rem 0.4rem; /* Add some padding for better appearance */
    border-radius: 4px; /* Optional: Add border-radius for rounded corners */
    margin-right: auto; /* Push the span to the left */
}