
:root {
    --margin: 0;
    --padding: 0;
    --hero-height: 60vh;
    --hero-bg: url('/Images/hero2.jpg');
    --prepare-bg-light: url('https://bungendorerfs.org/images/prepare.jpg');
    --info-bg-light: url('https://bungendorerfs.org/images/info.jpg');
    --membership-bg-light: url('https://bungendorerfs.org/images/membership.jpg');
    --events-bg-light: url('https://bungendorerfs.org/images/events.jpg');
    --rfs-core-red: #e5281B;
    --rfs-lime: #cbdb2a;
    --rfs-amber: #fbb034;
    --rfs-blue: #215e9e;
    --rfs-green: #008550;
    --rfs-logo: url('/Images/logo-dark.png');
    --header-background:rgb(255, 255, 255, 0.7);
}

@media (prefers-color-scheme: dark) {
    :root {
        --hero-bg: url('/Images/hero1.jpg');
        --prepare-bg: url('https://bungendorerfs.org/images/prepare-dark.jpg');
        --info-bg: url('https://bungendorerfs.org/images/info-dark.jpg');
        --membership-bg: url('https://bungendorerfs.org/images/membership-dark.jpg');
        --events-bg: url('https://bungendorerfs.org/images/events-dark.jpg');
        --rfs-logo: url('/Images/logo.png');
        --rfs-lime: #929e1b;
        --rfs-core-red: #b71c1c;
        --rfs-amber: #da992c;
        --rfs-blue: #17406c;
        --rfs-green: #01633c;
        --header-background:  rgb(24, 28, 37, 0.7);
    }

    .hero .logo {
        background: var(--logo-dark) no-repeat center center/contain;
    }
}

article {
    scroll-margin-top: 80px; /* Adjust this value to match the height of your navbar */
}

/* Default grid layout for summary cards */
.summary-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns by default */
    gap: 1rem; /* Add some space between the cards */
}

/* Responsive grid layout for screens below 1500px */
@media (max-width: 1500px) {
    .summary-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for screens below 1500px */
    }
    .pageFoot {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for screens below 1500px */
    }
}

/* General Styles */
body {
    font-family: var(--font-family);
    margin: var(--margin);
    padding: var(--padding);
}

html {
    scroll-behavior: smooth;
}

h3, .colorheading {
    color: whitesmoke;
}

/* Hero Section */
.hero {
    position: relative;
    height: var(--hero-height);
    background: var(--hero-bg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .logo {
    display: flex;
    margin-right: 1em;
    height: 6em;
    background: var(--rfs-logo) no-repeat left/contain;
}

.hero h1 {
    display: inline-block;
    vertical-align: middle;
    padding: 0 1em;
}

/* Background Images for Sections */
.prepare {
    background-image: var(--prepare-bg);
}

.info {
    background-image: var(--info-bg);
}

.membership {
    background-image: var(--membership-bg);
}

.events {
    background-image: var(--events-bg);
}

/* Color Classes */
.red {
    background-color: var(--rfs-core-red);
}

.amber {
    background-color: var(--rfs-amber);
}

.lime {
    background-color: var(--rfs-lime);
}

.blue {
    background-color: var(--rfs-blue);
}

.green {
    background-color: var(--rfs-green);
}

/* Leaflet Popup Styles */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: var(--pico-card-background-color) !important;
    color: var(--pico-card-text-color) !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.leaflet-popup-content {
    color: var(--pico-card-text-color);
    margin: 0;
    background: var(--pico-card-background-color);
    padding: 1em;
    border-radius: 4px;
    font-family: var(--pico-font-family, Arial, sans-serif);
    font-size: var(--pico-font-size, 1rem);
    line-height: var(--pico-line-height, 1.5);
}

/* Leaflet Marker and Control Styles */
.leaflet-marker-icon,
.leaflet-control {
    all: unset;
    display: inline-block;
    width: auto;
    height: auto;
    cursor: pointer;
}

/* Navigation Styles */
#pageNav {
    margin: 0;
    padding: 0;
}

#pageNav nav {
    background-color: var(--rfs-core-red);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.nav-logo {
    height: 100%;
    max-height: 2em;
    /* Adjust this value to match the height of the heading */
    margin-right: 1em;
    /* Adjust spacing as needed */
    display: none;
}

.nav-logo.visible {
    display: block;
    /* Show the nav logo when it becomes visible */
}

/* Main Content Styles */
main {
    padding: 0 !important;
}

.content-container {
    padding: 1em;
}

.heading-background {
    width: 100%;
    /* Extend to full width */
    background-color: var(--header-background);
    /* 70% transparent background */
    padding: 1em;
    box-sizing: border-box;
    position: relative;
}

/* Footer Styles */
#pageFoot {
    margin: 0;
    padding: 0;
}

#pageFoot nav {
    background-color: var(--pico-card-background-color);
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

#pageFoot .container.grid {
    gap: 5px;
}

/* #pageFoot article {
    padding: 5px;
    margin: 0;
} */

#pageFoot aside ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#pageFoot aside ul li {
    padding: 2px 0;
    margin: 0;
}

#pageFoot aside ul li button {
    padding: 5px 10px;
    margin: 0;
}

#pageFoot img {
    max-height: 40px;
}

/* Header and Button Container Styles */
.header-container {
   
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.button-container {
    display: flex;
    gap: 10px;
}

.custom-button {
    padding: 10px 20px;
    background-color: var(--rfs-core-red);
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.custom-button:hover {
    background-color: darkred;
}

@media (max-width: 600px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .button-container {
        flex-wrap: wrap;
    }
}

/* Event Styles */
.event {
    margin-bottom: 10px;
}

.event-title {
    font-weight: bold;
}

.event-date-time, .event-location {
    font-size: 0.9em;
}

/* Element to Proof Styles */
.elementToProof {
    all: unset !important;
    display: block;
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--color);
}

/* Grid Container Styles */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

/* Social Icon Styles */
.social-icon {
    color: var(--rfs-core-red);
    position: relative;
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    /* margin: 0 8px; */
}


/* Miscellaneous Styles */
.invisible-cell td {
    border: none;
    background-color: transparent;
}

#fireMessages {
    font-weight: bold;
    margin-bottom: 20px;
}

#incidentCountCell img,
#fireInfoTableContainer img {
    max-width: 32px;
    max-height: 32px;
    width: auto;
    height: auto;
}

.icon-category-cell,
#icon-category-cell {
    text-align: center;
    vertical-align: middle;
}

.icon-category-cell img,
#icon-category-cell img {
    display: block;
    margin: 0 auto;
}

.icon-category-cell span,
#icon-category-cell span {
    display: block;
    margin-top: 5px;
}

.calendar-widget {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

/* Responsive Styles */
@media (max-width: 500px) {
    .nav-logo,
    .summary-card {
        display: none !important;
    }
}

@media (max-width: 770px) {
    .summaryCard {
        display: none !important;
    }
}